.sideBarContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    justify-content: space-between;
}

.sideBarMain{
    height: 100%;
    width: 200px;
    background-color: darkslateblue;
}

.myBtn{
    font-weight: 700;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}

.user_details {
    text-align: center;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .username {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .user_id, .email {
    font-size: 1rem;
    color: #bdc3c7;
  }
  
  /* Hover effects for user info */
  .username:hover, .user-id:hover, .email:hover {
    color: #3498db;
    cursor: pointer;
  }

.custom_link{
    text-decoration: none;
    color: #fff;
}

.custom_link:hover{
    text-decoration: none;
    color: #3498db;
    cursor: pointer;
}